@import (css) url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import (css) url('https://fonts.cdnfonts.com/css/akapotsley');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

// Hier allgemeine Styles
body {
  padding-top: 20px;
  font-family: 'akaPotsley', cursive !important;
  font-weight: normal !important;
  color: black !important;
}

.background {
  background-image: url('https://pbs.twimg.com/media/E6btcNMXoAMFHOF?format=jpg&name=large');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.hor {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


.pla{
    width: 200px;
    height: 110px;
    border-radius: 20px;
    border: none;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRedn293ViBlZuQgEgmNx7lTt58pD9hFreT4XddKZhe7ZxdfH92jyncTe8-LqwJQswxc4g&usqp=CAU') no-repeat top left;
    padding: 2px 8px;
    font-size: 500%;
    opacity: 0.75;

}

.pla:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.in{
    opacity: 0.75;
}




.playerCountBackground {
  .background;
  background-image: url(https://pbs.twimg.com/media/E6btbxEWQAgdG-x?format=jpg&name=large);
}

#howToPlay {
  color: rgba(0, 0, 15, 0.66);
}

h2{
    padding-bottom: 15px;
  color: #debd4f;
  font-family: 'akaPotsley', cursive;
  font-weight: normal;
  margin-bottom: 4em;
  text-align: center;
  font-size: 450%;
  text-shadow: 1px 1px 2px black;
}

h1 {
  color: #debd4f;
  font-family: 'akaPotsley', cursive;
  font-weight: normal;
  margin-bottom: 4em;
  text-align: center;
  font-size: 450%;
  text-shadow: 1px 1px 2px black;
}

a {
  color: black;
}

body, html {
  height: 100%;
  width: 100%;
}

// class

.playerCountBtn {
  color: blue;
}