@import (css) url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import (css) url('https://fonts.cdnfonts.com/css/akapotsley');
@import (css) url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

@textColor: #debd4f;

// Hier allgemeine Styles
body {
  padding: 20px;
  font-family: 'akaPotsley', cursive !important;
  font-weight: normal !important;
  color: black !important;
}

.background {
  background-image: url('https://pbs.twimg.com/media/E6btcNMXoAMFHOF?format=jpg&name=large');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.hor {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


.pla{
    width: 200px;
    height: 110px;
    border-radius: 20px;
    border: none;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRedn293ViBlZuQgEgmNx7lTt58pD9hFreT4XddKZhe7ZxdfH92jyncTe8-LqwJQswxc4g&usqp=CAU') no-repeat top left;
    padding: 2px 8px;
    font-size: 500%;
    opacity: 0.75;

}

.pla:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.in{
    opacity: 0.75;
    width: 250px;
}




.marketPlaceBackground {
  .background;
  background-image: url(https://pbs.twimg.com/media/E6btbxEWQAgdG-x?format=jpg&name=large);
}

#howToPlay {
  color: rgba(0, 0, 15, 0.66);
}

h1 {
  color: @textColor;
  font-family: 'akaPotsley', cursive;
  font-weight: normal;
  margin-bottom: 4em;
  text-align: center;
  font-size: 450%;
  text-shadow: 1px 1px 2px black;
}

h2 {
  color: @textColor;
  font-family: 'akaPotsley', cursive;
  font-weight: normal;
  margin-bottom: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h3{
  color: @textColor;
  text-shadow: 1px 1px 2px black;
}

a {
  color: black;
}

body, html {
  height: 100%;
  width: 100%;
}

.playerCountBtn {
  color: #ea0303;
}

#howToPlayBtn {
  width: 150px;
  color: @textColor;
  background: none;
  border: none;
  text-shadow: 1px 1px 2px black;
}

#rulesIcon {
  font-size: 25px;
  -webkit-text-stroke-width: 1px;
}

#playWizard {
  background: none;
  border: none;
  font-size: 45px;
  text-shadow: 1px 1px 2px black
}
//.actionDescription{
//  margin-bottom: 15%;
//}
.playCard{
  margin-right: auto;
  margin-left: auto;
}

.playingCard{
  cursor: pointer;
  width: 150px;
  height: 230px;
  filter: drop-shadow(3px 3px 5px black);
  border: solid rgba(0, 0, 0, 0.23);
}
.playerCard {
  border-radius: 20px;
  opacity: 1;
  //background: url("https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/b954c03a-8e80-4027-b4e3-6afb8a778da6.webp");
}
.playCardBackground{
  background: url("https://static.vecteezy.com/system/resources/thumbnails/003/448/235/small/light-brown-cartoon-wood-texture-pattern-wallpaper-background-free-vector.jpg");
  border-radius: 20px;
  opacity: 0.75;
  padding: 15px;
  margin-top: 45px;
}
.trump {
  cursor: default;
}

.playerName {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trumpCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trickInsert{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 144px;
}