@(idx: Int)
    @main("marketPlaceBackground") {
    <div class="hor">
        <div class="container h-100 playerName">
            <h2>This game can be played by 3-6 Players.   <br>
                Please select the amount of players that want to play:</h2>
            <input class="form-control in" type="text" placeholder="your name ..." id="name" onkeydown="setName(this.value)" style="width:450px">
        </div>
    </div>

    <script>
        function setName(name) {
            if (this.event.key === "Enter") {
                fetch(`http://localhost:9000/playerName?name=${name}`, {
                    method: "POST",
                    body: ""
                }).then(res => {
                    if(res.redirected) {
                        window.location.replace(res.url)
                    } else {
                        window.location.replace(`http://localhost:9000/playerName`);
                    }
                });
            }
        }

    </script>
    }

</div>
