@main("marketPlaceBackground") {
<div class="hor">
<div class="container h-100">
    <h2>This game can be played by 3-6 Players.   <br>
        Please select the amount of players that want to play:</h2>

    <div class="container">
        <div class="text-center">
            <button type="button" class="pla" onclick="sendPlayerCount(3)">3</button>
            <button type="button" class="pla" onclick="sendPlayerCount(4)">4</button>
            <button type="button" class="pla" onclick="sendPlayerCount(5)">5</button>
            <button type="button" class="pla" onclick="sendPlayerCount(6)">6</button>
        </div>
    </div>
</div>
</div>


    <script>
        function sendPlayerCount(amount) {
            fetch(`http://localhost:9000/playerCount?count=${amount}`, {
                method: "POST",
                body: ""
            }).then(res => {
                window.location.replace(res.url);

            });
        }
    </script>

}