@(idx: Int)
    @main("") {
<h1>Player @idx please enter your name: </h1>
<input placeholder="your name ..." id="name" onkeydown="setName(this.value)">
    <script>
        function setName(name) {
            if (this.event.key === "Enter") {
                fetch(`http://localhost:9000/playerName?name=${name}`, {
                    method: "POST",
                    body: ""
                }).then(res => {
                    if(res.redirected) {
                        window.location.replace(res.url)
                    } else {
                        window.location.replace(`http://localhost:9000/playerName`);
                    }
                });
            }
        }

    </script>
    }