@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@import de.htwg.se.wizard.model.gamestateComponent.GamestateBaseImpl.Round
@(rounds: List[Round], round: Int)
@main("trickOver") {
    <h1>Round @round over</h1>

    <ul>
    @for( round <- rounds) {
       <li>@round.toString()</li>
    }
    </ul>
    <button onClick="proceed()">Ok</button>

    <script>
            function proceed() {
                window.location.replace(`http://localhost:9000/setTrickAmount`)
            }
    </script>
}