@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@import de.htwg.se.wizard.model.gamestateComponent.GamestateBaseImpl.Round
@(rounds: List[Round], round: Int, players: List[Player], trump: Boolean)
@main("marketPlaceBackground") {
    <h1>Round @round over</h1>

    <table class="table table-striped scoreBoard">
        <thead>
            <tr>
                <th scope="col">Round</th>
                @for(player <- players) {
                    <th>@player.name</th>
                }
            </tr>
        </thead>
        <tbody>
            @for((round, i) <- rounds.zipWithIndex.dropRight(1)) {
                <tr>
                    <th scope="row">@(i+1)</th>
                    @for(idx <- players.indices) {
                        <td>
                            @round.results(idx) | @round.guessed_tricks(idx)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>



    <br>


    <button onClick="proceed()">Ok</button>

    <script>
            function proceed() {
                if (@trump) {
                    window.location.replace(`http://localhost:9000/trump`)
                } else {
                    window.location.replace(`http://localhost:9000/setTrickAmount`)
                }
            }
    </script>
}