@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@(player: Player)
@main("showCards"){
<h1>@player.name 's cards:</h1>
<ul>
    @for(card <- player.hand) {
    <li>
        <div style="cursor: pointer;" onclick="playCard(@player.hand.indexOf(card))">@card.toString()</div>
        <img style="cursor: pointer;" onclick="playCard(@player.hand.indexOf(card))"
        src="@routes.Assets.versioned("../../public/images/Cards/"+ card.colour + card.num + ".png")">
    </li>
    }
</ul>

<h2>To Play a Card click the card</h2>

    <script>
        function playCard(idx) {
            fetch(`http://localhost:9000/playCard?idx=${idx}`, {
                method: "POST",
                body: ""
            }).then(res => {
                window.location.replace(res.url)
            });
        }
    </script>
}