@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@(player: Player, card_images: List[String])
@main("showCards"){
<h1>@player.name 's cards:</h1>
<ul style="display: inline-block; list-style: none;">
    @for(card <- player.hand) {
    <li>
        <img style="cursor: pointer; width: 175px" onclick="playCard(@player.hand.indexOf(card))"
         src="@routes.Assets.versioned(card_images(player.hand.indexOf(card)))">
    </li>
    }
</ul>

<h2>To Play a Card click the card</h2>

    <script>
        function playCard(idx) {
            fetch(`http://localhost:9000/playCard?idx=${idx}`, {
                method: "POST",
                body: ""
            }).then(res => {
                window.location.replace(res.url)
            });
        };
    </script>
}