@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@import de.htwg.se.wizard.model.cardsComponent.Card
@import de.htwg.se.wizard.model.gamestateComponent.GamestateBaseImpl.Round

@(player: Player, trump: Card, getCardPath: GetCardPath.type, players: List[Player], rounds: List[Round])
@main("marketPlaceBackground") {
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <h1 id="playerNameTopLeft">@player.name's Turn</h1>
            </div>
            <div class="col-8">
                <h1 class="actionDescription">Phase: Trick Prediction</h1>
            </div>
            <div class="col-2">
                    <!-- Button trigger modal -->
                <button type="button" class="showScoreBoardBtn btn btn-secondary" data-bs-toggle="modal" data-bs-target="#scoreBoardModal">
                    <i class="bi bi-table"></i><br>
                    Score
                </button>
            </div>
        </div>

        <div class="row row-cols-3">
            <div class="trickInsert col-8">
@*                <h3>Player: @player.name</h3>*@
                <h2 style="text-align: start">How many tricks are you going to make?</h2>
                <input
                class="form-control"
                type="number"
                id="tricks"
                value="0"
                min="0"
                    style="width: fit-content"
                />
            </div>
            <div class="trumpCard col-4">
                <h2>Trump Card:</h2>
                <img class="playingCard trump"
                src="@routes.Assets.versioned(getCardPath.getCardPath(trump))"
                />
            </div>
            <div class="col-12">
                <div class="playCardBackground">
                    <div class="animated-card-hand-container">
                        <div id="playerHandCards" class="animated-card-hand">
                        @for(card <- player.hand) {
                            <div class="animated-card">
                                <img class="playingCard"
                                src="@routes.Assets.versioned(getCardPath.getCardPath(card))" />
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal -->
    <div class="modal fade" id="scoreBoardModal" tabindex="-1" aria-labelledby="Score" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background: none; border: none;">
                <div class="modal-header">
                    @*                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>*@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped scoreBoard">
                        <thead>
                            <tr>
                                <th scope="col">Round</th>
                                @for(player <- players) {
                                    <th>@player.name</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        @for((round, i) <- rounds.zipWithIndex.dropRight(1)) {
                            <tr>
                                <th scope="row">@( )</th>
                                @for(idx <- players.indices) {
                                    <td>
                                        @round.results(idx) | @round.guessed_tricks(idx)
                                    </td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
