@import de.htwg.se.wizard.model.cardsComponent.Card
@import de.htwg.se.wizard.model.playerComponent.PlayerBaseImpl.Player
@(player: Player, getCardPath: GetCardPath.type)
@main("marketPlaceBackground"){

    <div class="hor">
        <div class="container h-100">
            <h1>A Wizard is Trump! You can wish a Trumpcolor @player.name</h1>
                <div class="text-center">
                    <button style="background-color: yellow" class="trumpSelect" onclick="setTrump('yellow')">Yellow</button><br>
                    <button style="background-color: green" class="trumpSelect" onclick="setTrump('green')">Green</button><br>
                    <button style="background-color: blue" class="trumpSelect" onclick="setTrump('blue')"> Blue</button><br>
                    <button style="background-color: red" class="trumpSelect" onclick="setTrump('red')">Red</button><br>
                </div>
            </div>
        </div>
    </div>

    <div class="playCardBackground">
        <div class="animated-card-hand-container">
            <div class="animated-card-hand">
            @for(card <- player.hand) {
                <div class="animated-card">
                    <img class="playingCard" onclick="playCard(@player.hand.indexOf(card))"
                    src="@routes.Assets.versioned(getCardPath.getCardPath(card))" />
                </div>
            }
            </div>
        </div>
    </div>


    <script>
            function setTrump(color) {
                    fetch(`http://localhost:9000/trump?color=${color}`, {
                        method: "POST",
                        body: ""
                    }).then(res => {
                        window.location.replace(res.url)
                    });
            }

    </script>
}
